<div class="container">
  <div class="row">
    <div class="col-xl-12 alert alert-light">
      <h1>Showing The Article&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-danger"><%= @article.id %></span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 ">
      <p></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header alert-success">
          <b>Title</b>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= @article.title %></li>
          </ul>
        <div class="card-header alert-dark">
          <b>Description</b>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= @article.description %></li>
          </ul>
        <div class="card-header bg-light">
          <b>Categories</b>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <% if @article.categories.any? %>
                <%= render @article.categories %>
              <% end %>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %> 
        <%= link_to 'Edit This Article', edit_article_path(@article), class: 'btn btn-success btn-sm' %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Delete Article', article_path(@article), method: :delete, data: { confirm: "Are yousure?" }, class: 'btn btn-danger btn-sm' %>
      <% end %>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Back To List', articles_path, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>
</div>
